<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Membros</h1>

    <ul>
        {% for pessoa in meus_wizards %}
        <l1>
            <strong>Nome:</strong> {{ pessoa.nome }}<br>
            <strong>E-mail:</strong> {{ pessoa.email }}<br>
            <strong>Telefone:</strong> {{ pessoa.telefone }}<p>
        </l1>
    {% endfor %}
    </ul>
    
    
</body>
</html>